.app-container {
  /* background-color: #f3f3fb; */
  min-height: 100vh;
  padding: 4.375rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.app-container h1 {
  font-size: 1.625rem;
  margin: 0;
  font-weight: 400;
}
